.w {
    height:100vh;
    padding: 20px;
    background-color: #110404;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .det {
    text-align: center;
    margin-bottom:10px;
  }
  
  .all {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .poster {
    margin-right: 20px;
  }
  
  .poster img {
    width: 250px; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .poster-detail {
    margin-top:70px;
    text-align: left;
    width: 500px; 
  }
  
  .poster-detail p {
    margin: 5px 0; 
    font-size: 18px; 
  }

  .det h1{
    color: #ff4081;
   
  }

  @media screen and (max-width:786px){
   .all{
    display:flex;
    flex-direction:column;
   
   }
   .poster-detail p{
    width:400px;
   }
  
  }
