 .w {
    height:100vh;
    padding: 20px;
    background-color:#1b0a41e7;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    display:flex;
    justify-content:center;
  }
  
  .det {
    text-align: center;
    margin-bottom:10px;
    background-color:#48367cfd;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    width:60%;
    
  }
  
  .all {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;
    gap:2rem;
  }
  
  .poster {
    margin-right: 20px;
  }
  
  .poster img {
    width: 250px; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
  }
  
  .poster-detail {
    margin-top:60px;
    text-align: left;
    width: 500px; 
  }
  
  .poster-detail p {
    margin: 5px 0; 
    font-size: 18px; 
    color:white;
    text-align:left;
  }

  .det h1{
    margin-top:2rem;
    color:white;
    font-weight:bold;
   
  }

  .back-btn { 
    margin-top:50px;
    padding: 10px 30px;
    background-color:#6e3cfafd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
  }
  

  @media screen and (max-width: 786px) {
    .all {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  
    .poster {
      margin-right: 0;
      margin-bottom: 20px; 
    }
  
    .poster-detail {
      text-align: center;
      width:80%

    }
  
    .poster-detail p {
      width: 100%; 
      font-size: 16px; 
    }
  
    .back-btn {
      font-size: 0.9em;
      padding: 0.8em 1.6em;
      bottom: 15px;
    }
  }

  @media screen and (max-width: 480px) {
    .det {
      width: 90%; 
    }
  
    .poster img {
      max-width: 200px; 
    }
  
    .poster-detail p {
      font-size: 14px;
    }
  
    .back-btn {
      font-size: 0.8em;
      padding: 0.7em 1.4em;
    }
  }


  